<ion-view>
	<ion-content>
		<div class="row" id="header">
	        <div class="col col-30">
	          <img src="img/edulution_logo-small.png" >
	        </div>
	        <div class="col col-40">
	          <h1 class="padding-top" id="foundationalMaths">Alpha A</h1>
	        </div>
	        <div class="col col-30">
	          <a href="#" onclick="window.open('http://1.1.1.1:8008', '_system','location=yes')"><img src="img/kalitelogo.jpg"></a>
	        </div>
      </div>
	</ion-content>
</ion-view>